.categoryPage {
	.categoryTitle {
		background-color: $accent-color;
		display: flex;
		margin: 1.25rem;

		h2 {
			color: $secondary-bg-color;
			font-weight: bold;
			font-size: 2rem;
			margin: 0.625rem auto;
			text-align: center;
		}
	}

	.blogArticleGrid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1.25rem;
		margin: 0 1.25rem 1.25rem;

		.noBlogs {
			grid-column: 1 / span 4;
			text-align: center;
		}
	}
}
