.dashboardContent {
	display: flex;
	flex: column;
	justify-content: space-between;
	margin: 1.25rem;
}

.infoAndBtns {
	.dashboardInfo {
		display: flex;
		flex-direction: column;

		h2 {
			// color: $font-color;
			font-size: 2rem;
			font-weight: bold;
			margin: 0;
		}

		p {
			margin: 0.625rem 0 0 0;
		}
	}

	.dashboardBtns {
		// background-color: $accent-color;
		display: flex;
		height: 100%;

		a {
			background: none;
			border: 0.125rem solid $font-color;
			border-radius: 0.3125rem;
			color: $font-color;
			cursor: pointer;
			font-size: 1.25rem;
			font-weight: bold;
			margin: auto;
			padding: 0.625rem !important;
			text-decoration: none;

			&:not(:last-child) {
				background-color: #81705d;
				border: 0.125rem solid #81705d;
				color: $secondary-bg-color;
				margin-right: 1.25rem;
			}

			&:hover {
				background-color: $font-color;
				color: $secondary-bg-color;
				border: 0.125rem solid $font-color;
			}
		}
	}
}

.manageBio {
	background-color: $secondary-bg-color;
	height: 31.25rem;

	img {
		margin: 0.625rem;
		width: 30%;
		object-fit: cover;
		object-position: top;
	}
}

.blogListDisplay {
	background-color: $secondary-bg-color;
	display: flex;
	flex-direction: column;

	p {
		color: #81705d;
		margin: 1.25rem auto;
	}
}

// New posts form styles
@import 'new-post-form';
