.heroSection {
	background-image: url('/hero-bg.jpg');
	background-position: center;
	background-size: cover;
	display: flex;
	margin: 0;
	padding: 0;
	min-height: 500px;

	.heroDetails {
		background-color: $secondary-bg-color;
		display: flex;
		flex-direction: column;
		margin: auto auto 3.125rem 0;
		padding: 1.25rem 5rem;

		h2 {
			color: $font-color;
			font-size: 2rem;
			font-weight: bold;
			text-decoration: underline;
			margin: 0;
		}

		p {
			color: $font-color;
			font-size: 1rem;
			font-style: italic;
			margin: 1.5rem 0;
		}

		a {
			background: none;
			border: 0.125rem solid $font-color;
			border-radius: 0.3125rem;
			color: $font-color;
			cursor: pointer;
			font-size: 1.25rem;
			// font-weight: bold;
			margin: 0 auto 0 0;
			padding: 0.125rem !important;
			text-decoration: none;

			&:hover {
				background-color: $font-color;
				color: $secondary-bg-color;
			}
		}
	}
}
