.articlesSection {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	// padding: 0 1.25rem;

	h2 {
		color: $font-color;
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
	}

	.articlesDisplay {
		// background-color: $accent-color;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 1.25rem 3.125rem;
        height: 31.25rem;

		.articleCard {
			background-color: $secondary-bg-color;
			// border-radius: 0.625rem;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
			width: 30%;
			padding: 0.625rem;

			img {
				width: 100%;
				height: 70%;
				// border-radius: 0.625rem;
			}

			h3 {
				color: $font-color;
				font-size: 1.25rem;
				margin: 0.625rem 0;
				text-decoration: underline;
			}

			p {
				color: $font-color;
				font-size: 0.875rem;
				margin: 0 auto 0.625rem 0;
			}

			a {
				background: none;
				border: 0.125rem solid $font-color;
				border-radius: 0.3125rem;
				color: $font-color;
				cursor: pointer;
				font-size: 1.25rem;
				// font-weight: bold;
				margin: 0 auto;
				padding: 0.125rem !important;
				text-decoration: none;

				&:hover {
					background-color: $font-color;
					color: $secondary-bg-color;
				}
			}
		}
	}

	.moreArticles {
		background-color: $secondary-bg-color;
		display: flex;
		margin-bottom: 3.125rem;

		a {
			background: none;
			border: 0.125rem solid $font-color;
			border-radius: 0.3125rem;
			color: $font-color;
			cursor: pointer;
			font-size: 1.25rem;
			font-weight: bold;
			margin: 1.25rem auto;
			padding: 0.125rem !important;
			text-decoration: none;

			&:hover {
				background-color: $font-color;
				color: $secondary-bg-color;
			}
		}
	}
}
