.contactSection {
	display: flex;
	margin: 0 1.25rem 3.125rem 1.25rem;
	min-height: 400px;

	.contactInfo {
		background-color: $font-color;
		display: flex;
		width: 40%;

		.infoDisplay {
			color: $secondary-bg-color;
			margin: auto;

			p {
				font-size: 1.5rem;
				font-weight: bold;
				text-align: center;
				margin: 0 0 3.125rem 0;
			}

			a {
				color: $secondary-bg-color;
			}
		}
	}

	.contactForm {
		background-color: $secondary-bg-color;
		display: flex;
		flex: 1;

		form {
			display: flex;
			flex-direction: column;
			margin: 1.25rem auto;
			width: 70%;

			div {
				display: flex;
				flex-direction: column;
				margin-bottom: 1.25rem;

				label {
					color: $font-color;
					font-size: 1rem;
					font-weight: bold;
					margin-bottom: 0.3125rem;
				}

				input,
				textarea {
					border: 0.125rem solid $font-color;
					border-radius: 0.3125rem;
					font-size: 1rem;
					padding: 0.625rem;
				}

				textarea {
					resize: vertical;
					min-height: 100px;
				}
			}

			button {
				background: none;
				border: 0.125rem solid $font-color;
				border-radius: 0.3125rem;
				color: $font-color;
				cursor: pointer;
				font-size: 1.25rem;
				font-weight: bold;
				margin: 0 auto;
				padding: 0.125rem !important;
				text-decoration: none;

				&:hover {
					background-color: $font-color;
					color: $secondary-bg-color;
				}
			}
		}
	}
}
