.loginFormSection {
	background-color: $secondary-bg-color;
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0;
	width: 40%;

	h2 {
		color: $font-color;
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
		margin: 1.25rem auto;
	}

	form {
		display: flex;
		flex-direction: column;

		div {
			display: flex;
			flex-direction: column;

			&:first-child {
				margin-bottom: 0.625rem;
			}

			label {
				color: $font-color;
				font-size: 1rem;
				font-weight: bold;
				margin: 0 1.25rem;
			}

			input {
				background-color: #fff;
				border: 0.125rem solid $font-color;
				font-size: 1rem;
				font-weight: bold;
				margin: 0.625rem 1.25rem;
				padding: 0.3125rem;
			}
		}

		button {
			background: none;
			border: 0.125rem solid $font-color;
			border-radius: 0.3125rem;
			color: $font-color;
			cursor: pointer;
			font-size: 1.25rem;
			font-weight: bold;
			margin: 1.25rem auto;
			padding: 0.125rem !important;
			text-decoration: none;

			&:hover {
				background-color: $font-color;
				color: $secondary-bg-color;
			}
		}
	}
}
