// first breakpoint
@media (max-width: 760px) {
}

// second breakpoint
@media (min-width: 760px) {
}

// third breakpoint
@media (min-width: 1000px) {
}

// fourth breakpoint
@media (min-width: 1260px) {
}

// fifth breakpoint
@media (max-width: 1450px) {
	.mainContent {
		width: 100% !important;
	}

	.infoSection {
		// background-color: $font-color;
		flex-direction: column;
		height: fit-content;
		// width: 100% !important;

		.aboutMe {
			width: 100%;
			margin-bottom: 1.25rem;
		}

		.newsletter {
			width: inherit !important;
			height: min-content !important;
			min-height: unset !important;
		}
	}

	.articlesDisplay {
		// background-color: $font-color;
		flex-direction: column !important;
		height: fit-content;
		width: 95% !important;
		height: auto !important;

		.articleCard {
			width: 100% !important;

			&:not(:last-child) {
				margin-bottom: 1.25rem;
			}
		}
	}

	.contactSection {
		flex-direction: column-reverse;

		.contactInfo,
		.contactForm {
			width: 100% !important;
			margin: 0 !important;

			p {
				margin: 1.25rem 0 0 0 !important;
			}

			a {
				margin: 0 0 1.25rem 0 !important;
			}
		}
	}
}
