// global variables
$bg-color: #d8c9b7;
$secondary-bg-color: #f5f1e5;
$accent-color: #b2a793;
$font-color: #675139;

// global styles
* {
	transition: 0.2s ease-in-out;
}

body {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.fullPage {
	background-color: $bg-color;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

nav {
	background-color: $secondary-bg-color;
	display: flex;
	justify-content: space-between;
	padding: 0.625rem 0;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 2;

	.navIcon {
		// background-color: aqua;
		display: none;
		width: 6.25rem;

		svg {
			color: $font-color;
			font-size: 2rem;
			margin: auto;
		}
	}

	a {
		text-decoration: none;
		margin: auto;
		padding: 0;

		h1 {
			color: $font-color;
			margin: 0;
			font-size: 4rem;
			font-weight: bold;

			&:hover {
				color: #81705d;
				// text-decoration: underline;
			}
		}
	}
}

// main content styles
.contentSection {
	display: flex;
	position: relative;
	margin: 6.5rem 0 0 0;
	/* allow content section to grow and fill available vertical space */
	flex: 1 1 auto;
	width: 100%;
}

// sidebar styles
.sideBar,
.sideBarResponsive {
	background-color: $accent-color;
	display: flex;
	padding: 0;
	min-height: 100% !important;
	// width: fit-content !important;
	width: 14.8125rem;

	ul {
		// background-color: $font-color;
		list-style-type: none;
		padding: 0;
		margin: 3.125rem 1.25rem auto;
		position: fixed;

		li {
			&:not(:last-child) {
				margin-bottom: 3.125rem;
			}

			a {
				color: $secondary-bg-color;
				font-size: 1.25rem;
				font-weight: bold;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

// main styles
main {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0;

	.mainContent {
		// background-color: $font-color;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}
}

img {
	object-fit: cover;
	object-position: center;
}

// footer styles
footer {
	background-color: $secondary-bg-color;
	margin: auto 0 0 0;
	padding: 0.625rem 0;
	text-align: center;
	width: 100%;

	p {
		color: $font-color;
		margin: 0;
		font-size: 0.875rem;
	}
}

// import page specific styles
@import 'home';

// import admin and blog styles
@import 'admin-and-blog';

// media queries
@import 'media-queries/media-queries';

// login styles
@import 'login';

// dashboard styles
@import 'dashboard';