* {
  transition: 0.2s ease-in-out;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.fullPage {
  background-color: #d8c9b7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #f5f1e5;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 6.5rem;
  z-index: 3;
}
nav .navIcon {
  display: none;
  width: 6.25rem;
}
nav .navIcon svg {
  color: #675139;
  font-size: 2rem;
  margin: auto;
}
nav a {
  text-decoration: none;
  margin: auto;
  padding: 0;
}
nav a h1 {
  color: #675139;
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
}
nav a h1:hover {
  color: #81705d;
}

.contentSection {
  display: flex;
  position: relative;
  margin: 6.5rem 0 0 0;
  /* allow content section to grow and fill available vertical space */
  flex: 1 1 auto;
  width: 100%;
}

.sideBar,
.sideBarResponsive {
  background-color: #b2a793;
  display: flex;
  padding: 0;
  min-height: 100% !important;
  width: 14.8125rem;
  z-index: 2;
}
.sideBar ul,
.sideBarResponsive ul {
  list-style-type: none;
  padding: 0;
  margin: 3.125rem 1.25rem auto;
  position: fixed;
}
.sideBar ul li:not(:last-child),
.sideBarResponsive ul li:not(:last-child) {
  margin-bottom: 3.125rem;
}
.sideBar ul li a,
.sideBarResponsive ul li a {
  color: #f5f1e5;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}
.sideBar ul li a:hover,
.sideBarResponsive ul li a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
}
main .mainContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer {
  background-color: #f5f1e5;
  margin: auto 0 0 0;
  padding: 0.625rem 0;
  text-align: center;
  width: 100%;
}
footer p {
  color: #675139;
  margin: 0;
  font-size: 0.875rem;
}

.heroSection {
  background-position: center;
  background-size: cover;
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 500px;
}
.heroSection .heroDetails {
  background-color: #f5f1e5;
  display: flex;
  flex-direction: column;
  margin: auto auto 3.125rem 0;
  padding: 1.25rem 5rem;
}
.heroSection .heroDetails h2 {
  color: #675139;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
}
.heroSection .heroDetails p {
  color: #675139;
  font-size: 1rem;
  font-style: italic;
  margin: 1.5rem 0;
}
.heroSection .heroDetails a {
  background: none;
  border: 0.125rem solid #675139;
  border-radius: 0.3125rem;
  color: #675139;
  cursor: pointer;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0.125rem !important;
  text-decoration: none;
}
.heroSection .heroDetails a:hover {
  background-color: #675139;
  color: #f5f1e5;
}

.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  height: 28.125rem;
  margin: 3.125rem 0;
  padding: 0 1.25rem !important;
}

.aboutMe {
  background-color: #f5f1e5;
  display: flex;
  width: 65%;
}
.aboutMe img {
  width: 40% !important;
}
.aboutMe .aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: calc(60% - 2.5rem);
}
.aboutMe .aboutText h2 {
  color: #675139;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 1.25rem 0;
}
.aboutMe .aboutText p {
  font-size: 1rem;
  margin: 0 0 1.25rem 0;
}
.aboutMe .aboutText .moreIntro {
  background: none;
  border: 0.125rem solid #675139;
  border-radius: 0.3125rem;
  color: #675139;
  cursor: pointer;
  font-size: 1.25rem;
  margin: 0 auto 0 auto;
  padding: 0.125rem !important;
  text-decoration: none;
}
.aboutMe .aboutText .moreIntro:hover {
  background-color: #675139;
  color: #f5f1e5;
}

.socialIcons {
  display: flex;
  color: #675139;
  justify-content: space-around;
  margin: 1.25rem 0 0.625rem;
  width: 100%;
}
.socialIcons a {
  color: inherit;
}
.socialIcons svg {
  font-size: 2rem;
}

.newsletter {
  background-color: #f5f1e5;
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  width: 30%;
}
.newsletter img {
  width: 100%;
  height: 40%;
}
.newsletter .newsletterInfo {
  display: flex;
  flex-direction: column;
  height: 40%;
}
.newsletter .newsletterInfo h2 {
  color: #675139;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.newsletter .newsletterInfo p {
  font-size: 1rem;
  text-align: center;
}
.newsletter .newsletterInfo form {
  display: flex;
  flex-direction: column;
}
.newsletter .newsletterInfo form label {
  color: #675139;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.3125rem;
}
.newsletter .newsletterInfo form input {
  padding: 0.5rem;
  margin: 0 0 0.625rem 0;
  border: 0.125rem solid #675139;
  border-radius: 0.3125rem;
  font-size: 1rem;
}
.newsletter .newsletterInfo form button {
  background: none;
  border: 0.125rem solid #675139;
  border-radius: 0.3125rem;
  color: #675139;
  cursor: pointer;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 0.125rem !important;
  text-decoration: none;
}
.newsletter .newsletterInfo form button:hover {
  background-color: #675139;
  color: #f5f1e5;
}

.articlesSection {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}
.articlesSection h2 {
  color: #675139;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.articlesSection .articlesDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1.25rem 3.125rem 1.25rem;
  height: 31.25rem;
}
.articlesSection .moreArticles {
  background-color: #f5f1e5;
  display: flex;
  margin-bottom: 3.125rem;
}
.articlesSection .moreArticles a {
  background: none;
  border: 0.125rem solid #675139;
  border-radius: 0.3125rem;
  color: #675139;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1.25rem auto;
  padding: 0.125rem !important;
  text-decoration: none;
}
.articlesSection .moreArticles a:hover {
  background-color: #675139;
  color: #f5f1e5;
}

.articleCard {
  background-color: #f5f1e5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  padding: 0.625rem;
}
.articleCard img {
  width: 100%;
  height: 70%;
}
.articleCard h3 {
  color: #675139;
  font-size: 1.25rem;
  margin: 0.625rem 0;
  text-decoration: underline;
}
.articleCard p {
  color: #675139;
  font-size: 0.875rem;
  margin: 0 auto 0.625rem 0;
}
.articleCard a {
  background: none;
  border: 0.125rem solid #675139;
  border-radius: 0.3125rem;
  color: #675139;
  cursor: pointer;
  font-size: 1.25rem;
  margin: 0 auto 0.625rem;
  padding: 0.125rem !important;
  text-decoration: none;
}
.articleCard a:hover {
  background-color: #675139;
  color: #f5f1e5;
}

.contactSection {
  display: flex;
  margin: 0 1.25rem 3.125rem 1.25rem;
  min-height: 400px;
}
.contactSection .contactInfo {
  background-color: #675139;
  display: flex;
  width: 40%;
}
.contactSection .contactInfo .infoDisplay {
  color: #f5f1e5;
  margin: auto;
}
.contactSection .contactInfo .infoDisplay p {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 3.125rem 0;
}
.contactSection .contactInfo .infoDisplay a {
  color: #f5f1e5;
}
.contactSection .contactForm {
  background-color: #f5f1e5;
  display: flex;
  flex: 1;
}
.contactSection .contactForm form {
  display: flex;
  flex-direction: column;
  margin: 1.25rem auto;
  width: 70%;
}
.contactSection .contactForm form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}
.contactSection .contactForm form div label {
  color: #675139;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.3125rem;
}
.contactSection .contactForm form div input,
.contactSection .contactForm form div textarea {
  border: 0.125rem solid #675139;
  border-radius: 0.3125rem;
  font-size: 1rem;
  padding: 0.625rem;
}
.contactSection .contactForm form div textarea {
  resize: vertical;
  min-height: 100px;
}
.contactSection .contactForm form button {
  background: none;
  border: 0.125rem solid #675139;
  border-radius: 0.3125rem;
  color: #675139;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.125rem !important;
  text-decoration: none;
}
.contactSection .contactForm form button:hover {
  background-color: #675139;
  color: #f5f1e5;
}

@media (max-width: 625px) {
  .infoAndBtns {
    flex-direction: column;
  }
  .infoAndBtns .dashboardInfo {
    align-items: center;
    text-align: center;
  }
  .infoAndBtns .dashboardBtns {
    margin: 1.25rem auto 0;
  }
}
@media (max-width: 800px) {
  nav a h1 {
    font-size: 2.5rem;
  }
  .heroSection .heroDetails {
    margin: auto 1.25rem 1.25rem !important;
  }
  .aboutMe {
    flex-direction: column;
  }
  .aboutMe img {
    margin: 0.625rem 0.625rem 1.25rem;
    -o-object-position: top;
       object-position: top;
    -o-object-fit: cover;
       object-fit: cover;
    width: calc(100% - 1.25rem) !important;
    height: 31.25rem;
  }
  .aboutMe .aboutText {
    width: calc(100% - 1.25rem) !important;
  }
  .contactInfo .infoDisplay {
    padding: 0 !important;
  }
  .contactInfo .infoDisplay p {
    margin: 1.25rem 0.625rem 0 !important;
  }
  .contactInfo .infoDisplay .socialIcons {
    margin: 1.25rem auto;
  }
  .blogArticleGrid {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 0 !important;
  }
  .blogArticleGrid .noBlogs {
    grid-column: 1/span 1 !important;
  }
  .notFound div {
    margin: 1.25rem;
    width: calc(100% - 2.5rem) !important;
    min-width: none !important;
  }
  .notFound div img {
    -o-object-fit: contain !important;
       object-fit: contain !important;
    -o-object-position: center !important;
       object-position: center !important;
    width: 500px !important;
    min-width: none !important;
  }
  .notFound div h2 {
    font-size: 1.5rem !important;
    margin: 1.25rem !important;
    min-width: none !important;
  }
}
@media (max-width: 1130px) {
  nav .navIcon {
    display: flex;
  }
  .sideBar {
    display: none;
  }
  .sideBarResponsive {
    flex-grow: 1;
    height: 100% !important;
    position: absolute;
  }
  main {
    width: 100% !important;
  }
  .loginFormSection {
    width: 70% !important;
  }
  .manageBio {
    flex-direction: column;
    height: auto !important;
  }
  .manageBio img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    margin: 0.625rem !important;
    width: auto !important;
    height: 31.25rem !important;
  }
  .manageBio div {
    margin: 0 0.625rem 0.625rem !important;
    width: auto !important;
    height: auto;
  }
}
@media (max-width: 1450px) {
  .mainContent {
    width: 100% !important;
  }
  .infoSection {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
  .infoSection .aboutMe {
    width: 100%;
    margin-bottom: 1.25rem;
  }
  .infoSection .newsletter {
    width: inherit !important;
    height: 30rem;
  }
  .infoSection .newsletter form button {
    margin: 0.625rem auto !important;
  }
  .articlesDisplay {
    flex-direction: column !important;
    height: -moz-fit-content;
    height: fit-content;
    height: -moz-max-content !important;
    height: max-content !important;
  }
  .articleCard {
    width: 100% !important;
    min-width: none;
    height: 30rem !important;
    padding: 0.625rem 0 !important;
  }
  .articleCard img {
    width: calc(100% - 1.25rem) !important;
    margin: 0 0.625rem 0 0.625rem;
  }
  .articleCard h3 {
    margin: 0.625rem !important;
  }
  .articleCard p {
    margin: 0 0.625rem 0.625rem !important;
  }
  .articleCard a {
    margin: 0.625rem auto 1.25rem 0.625rem !important;
  }
  .articleCard:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .contactSection {
    flex-direction: column-reverse;
  }
  .contactSection .contactInfo,
  .contactSection .contactForm {
    width: 100% !important;
    margin: 0 !important;
  }
  .contactSection .contactInfo p,
  .contactSection .contactForm p {
    margin: 1.25rem 0 0 0 !important;
  }
  .contactSection .contactInfo a,
  .contactSection .contactForm a {
    margin: 0 0 1.25rem 0 !important;
  }
  .blogArticleGrid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .blogArticleGrid .noBlogs {
    grid-column: 1/span 2 !important;
  }
}
.loginFormSection {
  background-color: #f5f1e5;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  width: 40%;
}
.loginFormSection h2 {
  color: #675139;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1.25rem auto;
}
.loginFormSection form {
  display: flex;
  flex-direction: column;
}
.loginFormSection form div {
  display: flex;
  flex-direction: column;
}
.loginFormSection form div:first-child {
  margin-bottom: 0.625rem;
}
.loginFormSection form div label {
  color: #675139;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 1.25rem;
}
.loginFormSection form div input {
  background-color: #fff;
  border: 0.125rem solid #675139;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.625rem 1.25rem;
  padding: 0.3125rem;
}
.loginFormSection form button {
  background: none;
  border: 0.125rem solid #675139;
  border-radius: 0.3125rem;
  color: #675139;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1.25rem auto;
  padding: 0.125rem !important;
  text-decoration: none;
}
.loginFormSection form button:hover {
  background-color: #675139;
  color: #f5f1e5;
}

.dashboardContent {
  display: flex;
  flex: column;
  justify-content: space-between;
  margin: 1.25rem;
}

.infoAndBtns .dashboardInfo {
  display: flex;
  flex-direction: column;
}
.infoAndBtns .dashboardInfo h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
.infoAndBtns .dashboardInfo p {
  margin: 0.625rem 0 0 0;
}
.infoAndBtns .dashboardBtns {
  display: flex;
  height: 100%;
}
.infoAndBtns .dashboardBtns a {
  background: none;
  border: 0.125rem solid #675139;
  border-radius: 0.3125rem;
  color: #675139;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  margin: auto;
  padding: 0.625rem !important;
  text-decoration: none;
}
.infoAndBtns .dashboardBtns a:hover {
  background-color: #675139;
  color: #f5f1e5;
  border: 0.125rem solid #675139;
}
.infoAndBtns .dashboardBtns button {
  background-color: #81705d;
  border: 0.125rem solid #81705d;
  border-radius: 0.3125rem;
  color: #f5f1e5;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  margin: auto 0 auto 1.25rem;
  padding: 0.625rem !important;
}
.infoAndBtns .dashboardBtns button:hover {
  background-color: #675139;
  color: #f5f1e5;
  border: 0.125rem solid #675139;
}

.manageBio {
  background-color: #f5f1e5;
  display: flex;
  height: 31.25rem;
}
.manageBio img {
  margin: 0.625rem;
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.manageBio div {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0.625rem 0.625rem 0.625rem 0;
}
.manageBio div h3 {
  color: #675139;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto 0.625rem;
}
.manageBio div form {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between !important;
  padding: 0;
}
.manageBio div form .bioInput {
  display: flex;
  flex-direction: column;
}
.manageBio div form .bioInput label {
  color: #675139;
  font-weight: bold;
}
.manageBio div form .bioInput input,
.manageBio div form .bioInput textarea {
  background-color: #fff;
  border: 0.125rem solid #675139;
  padding: 0.3125rem;
}
.manageBio div form .editBioBtns {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.manageBio div form .editBioBtns button {
  background: none;
  border: 0.125rem solid #675139;
  border-radius: 0.3125rem;
  color: #675139;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  margin: auto;
  padding: 0.625rem !important;
  text-decoration: none;
}
.manageBio div form .editBioBtns button:not(:last-child) {
  background-color: #81705d;
  border: 0.125rem solid #81705d;
  color: #f5f1e5;
  margin-right: 1.25rem;
}
.manageBio div form .editBioBtns button:hover {
  background-color: #675139;
  color: #f5f1e5;
  border: 0.125rem solid #675139;
}

.blogListDisplay {
  background-color: #b2a793;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0 0;
}
.blogListDisplay h3 {
  color: #f5f1e5;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto 0.625rem;
}
.blogListDisplay .articleRow {
  background-color: #f5f1e5;
  display: flex;
  margin: 0 auto 1.25rem;
  width: calc(100% - 2.5rem);
  height: 6.25rem;
}
.blogListDisplay .articleRow svg {
  color: #675139;
  font-size: 2.5rem;
  margin: auto 1.25rem;
}
.blogListDisplay .articleRow img {
  margin: 0 1.25rem 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  width: 15%;
}
.blogListDisplay .articleRow h4 {
  color: #675139;
  font-size: 2rem;
  font-weight: bold;
  margin: auto auto auto 0;
}
.blogListDisplay .articleRow .manageBtns {
  display: flex;
  margin: auto 1.25rem auto 0;
}
.blogListDisplay .articleRow .manageBtns a,
.blogListDisplay .articleRow .manageBtns button {
  border: none;
  display: flex;
  margin-left: 1.25rem;
  padding: 0;
  width: -moz-fit-content;
  width: fit-content;
}
.blogListDisplay .articleRow .manageBtns a:hover,
.blogListDisplay .articleRow .manageBtns button:hover {
  background: none;
  cursor: pointer;
}
.blogListDisplay .articleRow .manageBtns a svg,
.blogListDisplay .articleRow .manageBtns button svg {
  margin: auto 0;
}
.blogListDisplay .articleRow .manageBtns a svg {
  color: #81705d;
}
.blogListDisplay .articleRow .manageBtns a svg:hover {
  color: #675139;
}
.blogListDisplay .articleRow .manageBtns button svg {
  color: rgba(255, 0, 0, 0.8);
}
.blogListDisplay .articleRow .manageBtns button svg:hover {
  color: red;
}
.blogListDisplay .noPost {
  color: #f5f1e5;
  margin: 1.25rem auto;
}

.newPost {
  background-color: #f5f1e5;
  display: flex;
  filter: drop-shadow(0.3125rem 0.3125rem 0.25rem rgba(0, 0, 0, 0.4));
  flex-direction: column;
  margin: 1.25rem auto;
  width: 70%;
}
.newPost h2 {
  color: #675139;
  font-size: 2rem;
  font-weight: bold;
  margin: 1.25rem auto 0;
  text-align: center;
}
.newPost img {
  margin: 1.25rem auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 80%;
}
.newPost form {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
}
.newPost form .blogInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}
.newPost form .blogInput label {
  color: #675139;
  font-weight: bold;
  margin-bottom: 0.3125rem;
}
.newPost form .blogInput input,
.newPost form .blogInput select,
.newPost form .blogInput textarea {
  background-color: #fff;
  border: 0.125rem solid #675139;
  padding: 0.3125rem;
}
.newPost form .newPostBtns {
  display: flex;
  margin: 0 auto;
}
.newPost form .newPostBtns button {
  background: none;
  border: 0.125rem solid #675139;
  border-radius: 0.3125rem;
  color: #675139;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  margin: auto;
  padding: 0.625rem !important;
  text-decoration: none;
}
.newPost form .newPostBtns button:not(:last-child) {
  background-color: #81705d;
  border: 0.125rem solid #81705d;
  color: #f5f1e5;
  margin-right: 1.25rem;
}
.newPost form .newPostBtns button:hover {
  background-color: #675139;
  color: #f5f1e5;
  border: 0.125rem solid #675139;
}

.notFound div {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  min-width: 500px;
}
.notFound div img {
  margin: 1.25rem;
  width: 90%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.notFound div h2 {
  color: #675139;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto 1.25rem;
  text-align: center;
}
.notFound div a {
  background: none;
  border: 0.125rem solid #675139;
  border-radius: 0.3125rem;
  color: #675139;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 auto 1.25rem;
  padding: 0.625rem !important;
  text-decoration: none;
}
.notFound div a:hover {
  background-color: #675139;
  color: #f5f1e5;
  border: 0.125rem solid #675139;
}

.blogArticle {
  display: flex;
  flex-direction: column;
}
.blogArticle .blogHero {
  background-color: rgba(178, 167, 147, 0.1);
  display: flex;
  margin: 0 1.25rem;
  position: relative;
  width: calc(100% - 2.5rem);
  height: 31.25rem;
}
.blogArticle .blogHero img {
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}
.blogArticle .blogHero .blogDate {
  background-color: #675139;
  margin: auto;
  padding: 0.625rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.blogArticle .blogHero .blogDate p {
  color: #f5f1e5;
  margin: 0;
}
.blogArticle .blogBody {
  background-color: #f5f1e5;
  margin: 1.25rem;
}
.blogArticle .blogBody h2 {
  font-size: 2.5rem;
  color: #675139;
  align-self: center;
  text-align: center;
  margin: 1.25rem;
}
.blogArticle .blogBody p {
  margin: 0 1.25rem 1.25rem;
}

.categoryPage .categoryTitle {
  background-color: #b2a793;
  display: flex;
  margin: 1.25rem;
}
.categoryPage .categoryTitle h2 {
  color: #f5f1e5;
  font-weight: bold;
  font-size: 2rem;
  margin: 0.625rem auto;
  text-align: center;
}
.categoryPage .blogArticleGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  margin: 0 1.25rem 1.25rem;
}
.categoryPage .blogArticleGrid .noBlogs {
  grid-column: 1/span 4;
  text-align: center;
}/*# sourceMappingURL=style.css.map */