// first breakpoint
@media (max-width: 760px) {
}

// second breakpoint
@media (max-width: 625px) {
	.infoAndBtns {
		flex-direction: column;

		.dashboardInfo {
			align-items: center;
			text-align: center;
		}

		.dashboardBtns {
			margin: 1.25rem auto 0;
		}
	}
}

// third breakpoint
@import 'media-max-800';

// fourth breakpoint
@import 'media-max-1130';

// fifth breakpoint
@import 'media-max-1450';
