@media (max-width: 800px) {
	nav {
		a {
			h1 {
				font-size: 2.5rem;
			}
		}
	}

	.heroSection {
		.heroDetails {
			margin: auto 1.25rem 1.25rem !important;
		}
	}

	.aboutMe {
		flex-direction: column;

		img {
			margin: 0.625rem 0.625rem 1.25rem;
			object-position: top;
			object-fit: cover;
			width: calc(100% - 1.25rem) !important;
			height: 31.25rem;
		}

		.aboutText {
			// background-color: turquoise;
			width: calc(100% - 1.25rem) !important;
		}
	}

	.contactInfo {
		.infoDisplay {
			padding: 0 !important;

			p {
				margin: 1.25rem 0.625rem 0 !important;
			}

			.socialIcons {
				margin: 1.25rem auto;
			}
		}
	}

	.blogArticleGrid {
		grid-template-columns: repeat(1, 1fr) !important;
		gap: 0 !important;

		.noBlogs {
			grid-column: 1 / span 1 !important;
		}
	}

	.notFound {
		div {
			margin: 1.25rem;
			width: calc(100% - 2.5rem) !important;
			min-width: none !important;

			img {
				// background-color: aqua;
				object-fit: contain !important;
				object-position: center !important;
				width: 500px !important;
				min-width: none !important;
			}

			h2 {
				font-size: 1.5rem !important;
				margin: 1.25rem !important;
				min-width: none !important;
			}
		}
	}
}
