@media (max-width: 1130px) {
	nav {
		.navIcon {
			display: flex;
		}
	}

	.sideBar {
		display: none;
	}

	.sideBarResponsive {
		flex-grow: 1;
		height: 100% !important;
		position: absolute;
	}

	main {
		width: 100% !important;
	}

	.loginFormSection {
		width: 70% !important;
	}

	.manageBio {
		flex-direction: column;
		height: auto !important;

		img {
			object-fit: cover;
			object-position: center;
			// flex: 1 !important;
			// flex-grow: 1 !important;
			margin: 0.625rem !important;
			width: auto !important;
			height: 31.25rem !important;
		}

		div {
			margin: 0 0.625rem 0.625rem !important;
			width: auto !important;
			height: auto;
		}
	}
}
