@media (max-width: 800px) {
	nav {
		a {
			h1 {
				font-size: 2.5rem;
			}
		}
	}

	.heroSection{
        .heroDetails{
            margin: auto 1.25rem 1.25rem !important;
        }
    }

	.aboutMe {
		flex-direction: column;

		img {
			margin: 0.625rem 0.625rem 1.25rem;
			object-position: top;
			object-fit: cover;
			width: calc(100% - 1.25rem) !important;
			height: 31.25rem;
		}

		.aboutText {
			// background-color: turquoise;
			width: calc(100% - 1.25rem) !important;
		}
	}

	.contactInfo {
		.infoDisplay {
			padding: 0 !important;

			p {
				margin: 1.25rem 0.625rem 0 !important;
			}

			.socialIcons {
				margin: 1.25rem auto;
			}
		}
	}

    .blogArticleGrid {
		grid-template-columns: repeat(1, 1fr) !important;

		.noBlogs {
			grid-column: 1 / span 1 !important;
		}
	}
}
