@media (max-width: 1130px) {
	nav {
		.navIcon {
			display: flex;
		}
	}

	.sideBar {
		display: none;
	}

	.sideBarResponsive {
		flex-grow: 1;
		height: 100% !important;
		position: absolute;
	}

	main {
		width: 100% !important;
	}

	.loginFormSection {
		width: 70% !important;
	}
}
